@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700&family=Playfair+Display:ital,wght@0,400;0,700;1,400&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Outfit", ui-sans-serif, system-ui, sans-serif;
  --font-serif: "Playfair Display", serif;
  
  --color-brand-orange: #E67E22;
  --color-brand-cream: #FDFBFA;
  --color-brand-dark: #2D3436;
}

@layer base {
  body {
    @apply bg-brand-cream text-brand-dark font-sans;
  }
}

